body {
	background-color:#333;
	color:#eee;
	text-align:center;
}

.game-wrapper {
	width:400px;
	margin:auto;
}

.grid {
	height:350px;
	width:400px;
	outline:1px solid blue;
}

.ui {
	height:100px;
	width:400px;
	background-color:#ccc;
	color:#eee;
	outline:1px solid red;
}